<?xml version="1.0"?>
<!--
/**
 * MageVision Blog24
 *
 * @category     MageVision
 * @package      MageVision_Blog24
 * @author       MageVision Team
 * @copyright    Copyright (c) 2017 MageVision (http://www.magevision.com)
 * @license      LICENSE_MV.txt or http://www.magevision.com/license-agreement/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="blog24" frontName="blog24">
            <module name="MageVision_Blog24" />
        </route>
    </router>
</config>