<?xml version="1.0"?>
<!--
/**
 * MageVision Blog63
 *
 * @category     MageVision
 * @package      MageVision_Blog63
 * @author       MageVision Team
 * @copyright    Copyright (c) 2020 MageVision (https://www.magevision.com)
 * @license      http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="magevision_progress_bar" xsi:type="object">MageVision\Blog63\Console\Command\ProgressBarCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="MageVision\Blog63\Console\Command\ProgressBarCommand">
        <arguments>
            <argument name="name" xsi:type="string">magevision:blog63:progress-bar</argument>
        </arguments>
    </type>
</config>
